<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title>Ordine</title>

	<style>
		* {
			margin: 0;
		}

		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			text-align: left;
			background-color: rgb(255, 128, 0);
		}
		section {
			margin-block-end: 0px;
		}
	</style>
</head>

<body style="background-color: rgb(250, 189, 5); margin:10px">
	<h1>Godfather's Pizza</h1>
	<h2>Ordine <span th:text="${reg.getOrdine(__${co}__).numeroOrdine}">d</span></h2>

	<table>
		<tr>
			<th>Ordine </th>
			<th>Tavolo </th>
			<th>Coperti</th>
			<th>Stato </th>
			<th>Totale </th>
			<th>Modifica </th>
		</tr>
		<tr>
			<td th:text="${reg.getOrdine(__${co}__).numeroOrdine}"></td>
			<td th:text="${reg.getOrdine(__${co}__).tavolo.codiceTavolo}"></td>
			<td th:text="${reg.getOrdine(__${co}__).coperti}"></td>
			<td th:text="${reg.getOrdine(__${co}__).stato}"></td>
			<td th:text="${reg.getOrdine(__${co}__).getTotale()}"></td>
			<td>
				<section>
					<form action="updateStato" method="post">
						<input type="radio" name="stato" value="Aperto" checked>Aperto
						<input type="radio" name="stato" value="Pronto">Pronto
						<input type="radio" name="stato" value="Servito">Servito
						<input type="submit" value="Cambio">
						<input type="hidden" name="codiceOrdine" th:value="${co}">
					</form>
				</section>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<th th:if="${!reg.getOrdine(__${co}__).pizze.isEmpty()}">Pizza</th>
			<th th:if="${!reg.getOrdine(__${co}__).pizze.isEmpty()}">Ingredienti</th>
			<th th:if="${!reg.getOrdine(__${co}__).pizze.isEmpty()}">Calorie</th>
			<th th:if="${!reg.getOrdine(__${co}__).pizze.isEmpty()}">Prezzo</th>
		</tr>
		<tr th:each="pizza : ${reg.getOrdine(__${co}__).pizze}">
			<td th:text="${pizza.getName}"></td>
			<td th:text="${pizza.getTopping}"></td>
			<td th:text="${pizza.getCalories}"></td>
			<td th:text="${pizza.getPrice}"></td>
		</tr>
		<tr>
			<th th:if="${!reg.getOrdine(__${co}__).getDrinks.isEmpty()}">Drink</th>
			<th th:if="${!reg.getOrdine(__${co}__).getDrinks.isEmpty()}"></th>
			<th th:if="${!reg.getOrdine(__${co}__).getDrinks.isEmpty()}">Calorie</th>
			<th th:if="${!reg.getOrdine(__${co}__).getDrinks.isEmpty()}">Prezzo</th>
		</tr>
		<tr th:each="dri : ${reg.getOrdine(__${co}__).getDrinks}">
			<td th:text="${dri.getName}"></td>
			<td th:text="${dri.getDescription}"></td>
			<td th:text="${dri.getCalories}"></td>
			<td th:text="${dri.getPrice}"></td>
		</tr>
		<tr>
			<th th:if="${!reg.getOrdine(__${co}__).getFranchises.isEmpty()}">Merchandise</th>
			<th th:if="${!reg.getOrdine(__${co}__).getFranchises.isEmpty()}"></th>
			<th th:if="${!reg.getOrdine(__${co}__).getFranchises.isEmpty()}"></th>
			<th th:if="${!reg.getOrdine(__${co}__).getFranchises.isEmpty()}">Prezzo</th>
		</tr>
		<tr th:each="fran : ${reg.getOrdine(__${co}__).getFranchises}">
			<td th:text="${fran.getName}"></td>
			<td></td>
			<td></td>
			<td th:text="${fran.getPrice}"></td>
		</tr>
	</table>



	<br>
<form action="home">
		<input type="submit" value="Home">
	</form>

</body>

</html>