<html>
<style>
	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
   background-color: rgb(255, 128, 0);
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

</style>
	<body style="background-color: rgb(250, 189, 5)">
		<h1>Godfather's Pizza</h1>
		<h2>Ordine <span th:text="${reg.getOrdine(__${co}__).numeroOrdine}">d</span></h2>
                 
    <table>
      <tr>
        <th>Ordine </th>
        <th>Tavolo </th>
        <th>Coperti</th>
        <th>Stato  </th>
        <th>Totale </th>
        <th>Modifica </th>
      </tr>
	   <tr>
        <td th:text="${reg.getOrdine(__${co}__).numeroOrdine}"></td>
        <td th:text="${reg.getOrdine(__${co}__).tavolo.codiceTavolo}"></td>
        <td th:text="${reg.getOrdine(__${co}__).coperti}"></td>
        <td th:text="${reg.getOrdine(__${co}__).stato}"></td>
        <td th:text="${reg.getOrdine(__${co}__).getTotale()}"></td>
        <td >	<form action="updateStato" method = "get">
        		<input type="radio" name="stato" value="Aperto" >Aperto
        		<input type="radio" name="stato" value="Pronto" >Pronto
				<input type="radio" name="stato" value="Servito">Servito
				<input type="submit" value="Cambio"></td>
				<input type="hidden" name="codiceOrdine" th:value="${reg.getOrdine(__${co}__).numeroOrdine}"></td>
				</form>
      </tr>
    </table>      
          <br>
   
 <a href="http://localhost:8080/home" class="button">HOME</a>
 
	</body>
</html>